{% load staticfiles %}
<html>
<head>
<body>
    <title>RegistrationForm</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <form method="POST">
                <h4 class="text-center bg-dark text-white">please register your Details</h4>
                {% csrf_token %}
                {{ rform }}<br>
                <center>
                    <input type="submit" value="signup" class=" btn btn-success">
                    <input type="reset" value="clear" class ="btn btn-danger">
                </center>
            </form>
        </div>
    </div>
</div></head>
</body>
</html>